extends: default

rules:
  line-length: disable
  document-start: disable
  comments: disable
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 1
  truthy:
    allowed-values: ['true', 'false', 'True', 'False', 'yes', 'no']
  empty-lines:
    max: 2
  indentation:
    spaces: consistent
    indent-sequences: whatever
